* {
    box-sizing: border-box;
    outline: none;
}
body {
    display: flex;
    justify-content: center;
    background-color: black;

}

form {
    width: 667px;
    height: 667px;
}

.header label h1{
    font-size: 40px;
    color: white;
    text-align: center;
    border: white solid 3px;
    padding: 0;
    width: 334px;
}

.enter {
    margin: 8.6px;
    width: 400px;
    height: 84px;
    border: white solid 5px;
    border-radius: 10px;
    background-color: black;
    color: white;
    font-size: 27px;
    padding: 20px;
    text-align: center;

}

.enter::placeholder {
    color: white;
    text-align: center;
    font-size: 34px;
}


.calculator {

    margin-top: 34px;
    height: 447px;
    width: 389px;



}
.center {
    margin: 0 auto;
}


.center2 {
    display: flex;
    align-items: center;
    justify-content: center;

}

.button {
    width: 84px;
    background-color: black;
    font-size: 34px;
    color: white;
    height: 84px;
    margin: 5px;
    border: white solid 5px;
    border-radius: 15px;
}




.double-button {
    width: 182px;
    background-color: black;
    font-size: 34px;
    color: white;
    height: 84px;
    border: white solid 5px;
    outline: none;
    border-radius: 15px;
    margin: 5px;


}

.button-hover:hover {
    color: black;
    background-color: white;
}


#del:hover {
    color: white;
    background-color: #ffb100;
}

#c:hover {
    color: white;
    background-color: red;
}


.enter::placeholder {
    color: white;
}

.enter::-moz-placeholder {
    color: white;
    opacity: 1;
}


.equal-div {
    display: flex;
    justify-content: center;
}

#equal
{
    width: 380px;
}

img {
    position: absolute;
    top: -50px;
    width: 1250px;
    height: 750px;
    visibility: hidden;
}